name: bundle

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - dist/**
  workflow_dispatch:

permissions:
  actions: read
  contents: write

concurrency:
  group: ${{ github.workflow }}

jobs:
  bundle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JesseTG/rm@v1.0.3
        with:
          path: dist

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - run: pnpm install && pnpm format && pnpm build
      - name: Commit changes
        uses: EndBug/add-and-commit@v9.1.3
        with:
          default_author: github_actions
          message: '[bot] bundle'

      # 基于 package.json 中的 version 字段创建 tag，修改 version 即可更新版本
      - name: Get package version
        id: package_version
        if: github.ref_name == 'main'
        run: echo "version=v$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Check if tag exists
        id: check_tag
        if: github.ref_name == 'main'
        uses: mukunku/tag-exists-action@v1.6.0
        with:
          tag: ${{ steps.package_version.outputs.version }}

      - name: Get bundle commit sha
        id: bundle_sha
        if: github.ref_name == 'main' && steps.check_tag.outputs.exists == 'false'
        run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Create Git Tag on bundle commit
        if: github.ref_name == 'main' && steps.check_tag.outputs.exists == 'false'
        uses: actions/github-script@v7
        with:
          script: |
            const tag = `${{ steps.package_version.outputs.version }}`;
            const sha = `${{ steps.bundle_sha.outputs.sha }}`;
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${tag}`,
              sha,
            });